h1 {
    text-decoration: underline;
}

p.header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* .header{
    font-family: Arial, Helvetica, sans-serif;
} */

#head {
    background-color: black;
}

* {
    /* visiems elementams pakeitimai */
}

/* [src]{
    width: 200px;
} */

[src^="images"]{
    width: 200px;
}

/* gilumos selektorius */
header p{
    font-size: 8pt;
}

/* kaip paimti tiesiogini vaikini elementa */
body > p{
    color: red;
}